h1{
    color: blue;

}
button{
    background-color: blue;
    color: white;
    font-weight: bold;
}
body{
    background-color: salmon;
}

#box{
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;

}